{% extends "users/layout.html" %} {% block content %}
<style>
      body {
        font-family: "Sweden Sans";
        font-size: 20px;
      }
        footer {
        font-family: "Sweden Sans";
        font-size: 15px;
      }
    </style>
<h2 style="text-align: center"><b>PRIVACY POLICY</b></h2>
<br />
<p>Effective date: 2023-06-30</p>
<p>1. Introduction</p>
<p>Welcome to My Summer Job Portal.</p>
<p>
  Yeah basically just google GDPR.
</p>
<p>21. <b>Contact Us</b></p>
<p>
  If you have any questions about this Privacy Policy, please contact us by
  email: <b>rybaka@tcd.ie</b>.
</p>
{% endblock content %}
